.main-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
}

.main-menu a {
    display: block;
    text-decoration: none;
    font-size: 2em;
    color: cornsilk;
    text-shadow: black 4px 4px 4px;
}

body {
    background-color: darkturquoise;
    padding-right: 120px;
    font-size: 16px;
}

.site-title, .main-menu {
    font-family: "SignPainter", sans-serif;
    margin-bottom: 40px;
    color: cornsilk;
    font-size: 1.5em;
}

.site-title {
    text-shadow: black 4px 4px 4px;
}

#contentArea {
    font-family: 'Raleway', cursive;
    font-size: 1.4em;
    color: black;
}

.music-player {
    margin-bottom: 20px;
    border-left: 20px;
    backdrop-filter: brightness(20%);
}