.main-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
}

.main-menu a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    color: cornsilk;
}

body {
    background-color: darkturquoise;
    padding-right: 120px;
}

.site-title, .main-menu {
    font-family: 'Raleway', cursive, sans-serif;
    color: cornsilk;
    font-size: 1.6em;
    text-shadow: black 1px 1px 4px;
}

.contentArea {
    font-family: 'Roboto', cursive, serif;
    font-size: 1.2em;
}

.music-player {
    margin-bottom: 20px;
    border-left: 20px;
    backdrop-filter: brightness(20%);
}


.zen-garden {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 1.5em;
}

.site-title {
    font-weight: 700;
    font-size: 1.6em;
}

@media screen and {

}