.main-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
}

.main-menu a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    color: cornsilk;
    text-shadow: black 4px 4px 4px;
}

body {
    background-color: darkturquoise;
    padding-right: 120px;
}

.site-title, .main-menu {
    font-family: 'Grand Hotel', cursive, sans-serif;
    margin-bottom: 40px;
    color: cornsilk;
    font-size: 1.6em;
    text-shadow: black 4px 4px 4px;
}

.contentArea {
    font-family: 'Raleway', cursive, serif;
    font-size: 1.3em;
}

.music-player {
    margin-bottom: 20px;
    border-left: 20px;
    backdrop-filter: brightness(20%);
}

.container {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
}

.zen-garden {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 1.5em;
}

.site-title {
    font-weight: 700;
    font-size: 1.6em;
}